#spaceship {
    height: 40px;
    position: absolute;
    width: 40px;
}

#GameOver {
    height: 40px;
    position: absolute;
    width: 100px;
}

#asteroid1 {
    height: 40px;
    position: absolute;
    width: 55px;
}

#asteroid2 {
    height: 55px;
    position: absolute;
    width: 55px;
}

#asteroid3 {
    height: 45px;
    position: absolute;
    width: 45px;
}

#asteroid4 {
    height: 42px;
    position: absolute;
    width: 42px;
}

#asteroid5 {
    height: 35px;
    position: absolute;
    width: 35px;
}

#asteroid6 {
    height: 50px;
    position: absolute;
    width: 50px;
}

#asteroid7 {
    height: 48px;
    position: absolute;
    width: 48px;
}
  
#game {
    background-color: #111;
    height: 550px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 800px;
    background-image: url('../assets/stars_two.gif'); background-repeat:repeat;
}
  
#start {
    color: white;
    font-size: 4rem;
    position: relative;
    text-decoration: none;
    top: 4rem;
}
  
